@model IEnumerable<FPTLearningManagement.Models.Instructor>

@{
    ViewBag.Title = "Instructor";
}

<h2>Instructor</h2>

<p>
    @Html.ActionLink("Create Instructor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstructorId }, new { @class = "edit" }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstructorId }, new { @class = "edit" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstructorId }, new { @class = "edit" })
        </td>
    </tr>
}

</table>
<style>
    h2 {
        text-align: center;
    }
</style>